*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin-top:70px;
    background:orange;
    color:#fff;
  }
  .container{
    padding: 5%;
  }
  input{
    line-height: 30px;
  }
  #search{
  font-size: 20px;
  }
