*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background:rgb(14, 12, 46);
    color:#b11c3c;
    border: 2px solid green;
    border-radius: 5%;
    line-height: 40px;
  }
  body
  {
    padding: 50px;
    background-color: rgb(5, 122, 83);
  }
  input{
    line-height: 30px;
  }
  #search{
  font-size: 20px;
  }
  h3{
    color:rgb(92, 19, 59);
  }
  #weight div{
    border: 2px solid greenyellow;
    margin: 10px;
  }
  .wghts{
    background-color: bisque;
    display: block;
  }
